@import "tailwindcss";


@theme {
  --color-red: #ED1C24;
  --color-green: #39B400;
  --color-yellow: #FFA600;
}


.body {
  min-height: 100vh;
}

.loader {
  animation: loading 700ms infinite ease-in-out alternate;
}


@keyframes loading {
  0% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }

}