@import "tailwindcss";


@theme {
  --color-Red: rgb(251, 44, 54);
  --color-Green: rgb(57, 180, 0);
  --color-Yellow: rgb(255, 166, 0);
  --color-Gray: rgb(92, 92, 92);
}


.body {
  min-height: 100vh;
}

.loader {
  animation: loading 700ms infinite ease-in-out alternate;
}


@keyframes loading {
  0% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }

}